# Backend (Express)
NODE_ENV=production
HOST=127.0.0.1
PORT=5000

# CORS: укажи домен фронта (и https если будет)
CORS_ORIGINS=http://130.49.148.245,https://130.49.148.245

# DB
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=NeHaos
DB_USER=postgres
DB_PASSWORD=Qwerty123

# JWT
JWT_SECRET=sshHBUVdKGFUY@vKB@lujidHGYEV@KVUJhg23YVdjhQWVuilfwer321
JWT_EXPIRES_IN=1d
ACCESS_TOKEN_SECRET=7asd63h@hf4jf54l231412j32hfmnwe
REFRESH_TOKEN_SECRET=kDBhj4r8u42j2@nrjej4hnrfh5

# Optional seed admin
ADMIN_EMAIL=admin@nexaos.com
ADMIN_PASSWORD=Admin123!
ADMIN_FULL_NAME=Admin
